/* =========== HEADER ========================= */
.logo img {
    height: 2.4rem;
}

.sticky_nav .header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f0f7f1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.048);
}

.sticky_nav .section_hero {
    margin-top: 8rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8rem;
    background-color: var(--light_green_color);
    height: 9.6rem;
    z-index: 10;
}

/* ================================== */
/* ========= NAVIGATION ============= */

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    font-size: 1.8rem;
    list-style: none;
}
.nav_link:link,
.nav_link:visited {
    color: var(--primary_green_color);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s;
}

.nav_link:hover,
.nav_link:active {
    color: var(--dark_green_color);
}

.nav_link.nav_cta:link,
.nav_link.nav_cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 8px;
    background-color: var(--primary_green_color);
    color: var(--light_green_color);
}

.nav_link.nav_cta:hover,
.nav_link.nav_cta:active {
    background-color: var(--dark_green_color);
    text-decoration: none;
    font-weight: 500;
}

/* --- Navigation Menu Buttons ---- */
.btn_nav_menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 4.8rem;

    color: var(--dark_green_color);
    cursor: pointer;
}
/* .btn_nav_menu_icon {
    height: 4.8rem;
    width: 4.8rem;
} */
.btn_nav_close {
    display: none;
}

/* -------------------------------- */
/* ================================== */

/* =========== HERO SECTION ========*/
.section_hero {
    background-color: var(--light_green_color);
    padding: 4.8rem 4.8rem 9.6rem 4.8rem;
}

.hero_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 120rem;
    margin: 0 auto;
    gap: 9.6rem;
}
.hero_img {
    width: 100%;
}

.hero_description_txt {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #777;
    margin-bottom: 4.8rem;
}

.customer_wrapper {
    display: flex;
    margin-top: 7.2rem;
    align-items: center;
    gap: 2.4rem;
}

.customer_imgs {
    display: flex;
}

.customer_imgs img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: -1.4rem;
    border: 3px solid #fff;
}

.customer_imgs img:last-child {
    margin-right: 0;
}

.customer_number {
    font-size: 1.4rem;
    font-weight: 700;
}
.customer_number span {
    color: var(--primary_green_color);
    font-size: 2rem;
}
/* ================================== */
/* =========== FEATURED IN SECTION ============= */
.heading_featured_in {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--light_green_color_2);
    margin: 4.8rem 0 3.2rem 0;
    text-transform: uppercase;
    text-align: center;
}
.featured_logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured_logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 0.5;
}

/* ==============================================*/
/* =========== HOW IT WORKS SECTION ========== */
.section_how {
    padding: 9.6rem 0;
}

.step_img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.step_img {
    width: 36%;
}

.step_number {
    font-size: 8rem;
    font-weight: 600;
    color: var(--light_green_color_2);
    margin-bottom: 1.6rem;
}

.step_description_txt {
    font-size: 1.4rem;
    line-height: 1.2;
    color: #777;
    margin-bottom: 4.8rem;
}
.step_img_wrapper {
    position: relative;
    margin-left: 2.4rem;
}

.step_img_wrapper::after,
.step_img_wrapper::before {
    content: "";
    display: block;
    width: 60%;
    border-radius: 50%;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.step_img_wrapper::after {
    background-color: var(--light_green_color);
    z-index: -2;
    width: 60%;
    padding-bottom: 60%;
}

.step_img_wrapper::before {
    background-color: var(--light_green_color_2);
    z-index: -1;
    width: 50%;
    padding-bottom: 50%;
}

/* =======================================*/
/* =========== MEALS SECTION =============*/
.section_meals {
    padding: 9.6rem 0;
    background-color: var(--light_green_color);
}
.meals_wrapper {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.meal {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s;
}
.meal:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-1rem);
}
.meal_txt {
    padding: 0 2.4rem 3.2rem 2.4rem;
    /* background-color: var(--light_green_color); */
}

.meal_title {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--dark_green_color);
    margin-bottom: 2rem;
}

.meal_attributes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
    list-style: none;
}
.meal_attribute {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
}

.meal_img {
    width: 100%;
}

.meal_icon {
    color: var(--dark_green_color);
}

.tags {
    display: flex;
    gap: 1.2rem;
}
.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.6rem 0 0.4rem 0;
    text-transform: uppercase;
}

.tag--green {
    background-color: var(--dark_green_color);
    color: #fff;
}
.tag--light_green {
    background-color: var(--light_green_color_2);
}
.tag--orange {
    background-color: #ff6f20;
}

/* =======================================*/
/* =========== TESTIMONIAL SECTION =============*/
.section_testimonial {
    display: grid;
    grid-template-columns: 55fr 45fr;
    /* background-color: var(--light_green_color); */
}

.testimonials {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    column-gap: 4.8rem;
}
.testimonial_wrapper {
    padding: 8rem;
}
.testimonial_img {
    width: 6.4rem;
    border-radius: 50%;
}

.testimonial_txt {
    font-size: 1.6rem;
    line-height: 1.4;
    color: #777;
    margin-bottom: 1.8rem;
}

.customer_name {
    font-size: 1.2rem;
    color: #777;
}
.customer_location {
    font-size: 1rem;
    color: #888;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}
.gallery_itm {
    overflow: hidden;
}
.gallery_itm img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}
.gallery_itm img:hover {
    transform: scale(1.1);
}

/* =======================================*/

/* =========== PRICING SECTION =============*/
.section_pricing {
    padding: 9.6rem 0;
    background-color: var(--light_green_color);
}

.price_plan_header {
    text-align: center;
}
.plan_name {
    text-transform: uppercase;
    color: var(--dark_green_color);
    margin-bottom: 1.6rem;
    font-weight: 600;
}

.price_plan {
    width: 75%;
    display: grid;
    border-radius: 8px;
}

.price_plan--starter {
    border: 0.1px solid var(--light_green_color_2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
    justify-self: end;
    padding: 4.8rem;
}
.price_plan--complete {
    background-color: var(--light_green_color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
}
.price_plan--complete::after {
    position: absolute;
    content: "Best Value";
    top: 7%;
    right: -16%;
    transform: rotate(45deg);
    color: var(--dark_green_color);
    background-color: rgb(235, 235, 5);
    padding: 1rem 8rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.plan_price {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark_green_color);
    margin-bottom: 1.6rem;
}

.price_plan span {
    font-size: 1.8rem;
    font-weight: 500;
    color: #555;
    margin-right: 0.6rem;
}

.btn_wrapper {
    text-align: center;
}
.plan_txt {
    font-size: 1.2rem;
    margin-bottom: 3.2rem;
    color: #666;
}
.meal_term {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 1.6rem;
    font-weight: 500;
}
.feature_icon {
    color: var(--dark_green_color);
    font-size: 1.8rem;
    margin-right: 1.6rem;
    background-color: var(--light_green_color);
    padding: 1.2rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feature_title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--dark_green_color);
    margin-bottom: 1.2rem;
}
.feature_txt {
    font-size: 1.4rem;
    color: #333;
    line-height: 1.5;
    font-weight: 500;
}
/* =======================================*/
/* =========== CTA SECTION =============*/
.section_cta {
    padding: 9.6rem 0;
}
.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* height: 50rem; */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(
        to right bottom,
        rgba(34, 83, 36, 0.6),
        rgba(119, 247, 125, 0.678)
    );
    overflow: hidden;
}

.cta_img_wrapper {
    background-image: linear-gradient(
            to right bottom,
            rgba(64, 136, 68, 0.63),
            rgba(76, 175, 79, 0.1)
        ),
        url("./images/eating.jpg");
    background-position: center;
    background-size: cover;
}

.cta_txt_wrapper {
    padding: 4.8rem;
}
.heading_cta {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 4.8rem;
}
.cta_description_txt {
    font-size: 1.6rem;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 3.2rem;
}
.cta_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
}

.cta_form label {
    display: block;
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 1.2rem;
    font-weight: 500;
}
.cta_form input,
.cta_form select {
    padding: 1.6rem;
    font-size: 1.4rem;
    border-radius: 8px;
    border: none;
    margin-bottom: 2.4rem;
    width: 100%;
    font-family: inherit;
    font-weight: 600;
    outline: none;
    color: #555;
}
.cta_form input::placeholder {
    color: #bbb;
}

.btn_sign_up {
    background-color: var(--primary_green_color);
    color: #fff;
    padding: 1.6rem;
    font-size: 1.4rem;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    align-self: center;
    margin-top: 0.4rem;
    cursor: pointer;
    transition: all 0.2s;
}
.btn_sign_up:hover {
    background-color: var(--dark_green_color);
    cursor: pointer;
}

/* *********** FOOTER SECTION ************ */
.footer {
    background-color: var(--light_green_color);
    padding: 9.6rem 0;
}
.footer_logo_wrapper {
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.footer_logo .logo {
    width: 100%;
}
.copyright {
    font-size: 1.2rem;
    font-weight: 400;
    color: #777;
}
.footer_heading {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--dark_green_color);
    margin-bottom: 2.4rem;
}
.footer_nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_us {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    font-family: inherit;
}

.contact_us_wrapper {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    /* gap: 1rem; */
}
.footer_link:link,
.footer_link:visited {
    font-size: 1.6rem;
    color: #2b2929;
    text-decoration: none;
    margin-bottom: 1.2rem;
    transition: all 0.2s ease-in;
}

.footer_link:hover,
.footer_link:active {
    color: var(--dark_green_color);
}

.footer--social {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
/* *************************************** */
